{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div className="home">
        <div className='stats-header, app-header'>
            <h2 className="stats-title-home">&#x1F4C8; YTstats</h2>
        </div>
        <div>
            <div className="home-heading">
                <h1>Welcome <span className="darkercolor">{{user.username}}</span></h1>
            </div>
            <div className="home-description">
                <p>Search for YouTube channel</p>
            </div>
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}
